.container-ehpad{
    display: grid;
    grid-template-columns: repeat(7, 200px);
    grid-template-rows: auto;
    justify-items: center;
}
.cell-img{
    width : 50px;
    height: 50px;
}
.container-2{
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: auto;
}
.container-3{
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: auto;
}
.cell{
    border: 1px black groove;
    text-align: center;
    justify-items: center;
    width: 200px;
    height: 50px; 
}
.key{
    
    border: 3px black ridge;
    width: 200px;
    height: 50px; 
}
.box{
    display: grid;
    grid-template-columns: repeat(7, 200px);
    grid-template-rows: none;
    text-align: center;
}
.box-input{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: none;
    text-align: center;
}
.box-tab{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: none;
    text-align: center;
}